.wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    width: 100%;
}

.childrenWrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    width: 100%;
}

.errorText {
    font-size: 0.875rem;
    color: var(--color-error);
}